# Compiled Python files
*.pyc
__pycache__/

# python version
.python-version

# Virtual environment
.venv
/venv
venv
.env/

# SQL-scripts
sql-scripts/

# OS or editor-specific files
.DS_Store
.vscode/

# old things folder
old_things/
